# Minio's default account
MINIO_ROOT_USER=

# Minio's default user account's password
# It is important that the password is long enough to pass Minio's security policies.
# The default password is 9 characters long, with at least one uppercase letter, one lowercase letter and one number.
MINIO_ROOT_PASSWORD=
